doctype html
html(lang="ru", ng-app="some")
    head
        title Контакты
        meta(charset="utf-8")
        link(rel="stylesheet", href="public/stylesheets/style.css")
    body
        script(src="/public/javascripts/angular.min.js")
        script(src="/public/javascripts/app.js")
        h3 Hello!
