/* Text color */
body {
    background: url("/public/default_images/forest.jpg") no-repeat fixed;
    background-size: cover;
    font-family: "PT Sans", sans-serif;
    color: rgba(0, 0, 0, 0.8);
}

h3 {
    font-family: "Merriweather", sans-serif;
}

hr,
.page-header,
.modal-footer,
.btn-default,
.btn:focus,
.btn-default:hover,
.btn-default:active:focus,
.btn-default:active,
.btn-default:active:hover {
    border-color: rgba(0, 0, 0, 0.1);
}

.list-group a,
.btn-default,
.btn:focus,
.btn:disabled:hover,
.btn:disabled,
.btn-success:disabled:hover,
.btn-success:disabled,
.btn[disabled]:hover,
.btn[disabled],
.btn-success[disabled]:hover,
.btn-success[disabled]{
    background: transparent;
}

.list-group a,
.help-block {
    border: none;
    margin: 0;
}

.list-group a:hover,
.form-control {
    background: rgba(0, 0, 0, 0.02);
}

.btn-default,
.btn:focus,
.btn-success:active,
.btn-success:active:focus,
.btn-success:active:hover,
.btn-danger:active,
.btn-danger:active:focus,
.btn-danger:active:hover,
.btn-default:active:focus,
.btn-default:active,
.btn-default:active:hover,
#vk-link,
#vk-link:focus,
#vk-link:hover {
    outline: none;
}

.btn-default, .btn:focus {
    font-family: "PT Sans", sans-serif;
}

.btn-success,
.btn-success:focus {
    color: rgba(0, 0, 0, 0.8);
    border-color: rgba(68, 158, 68, 0.3);
    background: rgba(68, 158, 68, 0.3);

}

.btn-success:hover {
    color: rgba(0, 0, 0, 0.8);
    border-color: rgba(38, 128, 38, 0.3);
    background: rgba(38, 128, 38, 0.3);

}

.btn-success:active,
.btn-success:active:focus,
.btn-success:active:hover,
.btn-danger:active,
.btn-danger:active:focus,
.btn-danger:active:hover,
.btn-default:active:focus,
.btn-default:active,
.btn-default:active:hover{
    color: rgba(0, 0, 0, 0.8);
    box-shadow: none;
}

.btn-success:active,
.btn-success:active:focus,
.btn-success:active:hover {
    color: rgba(0, 0, 0, 0.8);
    border-color: rgba(38, 128, 38, 0.4);
    background: rgba(38, 128, 38, 0.4);

}

.btn-danger,
.btn-danger:focus {
    color: rgba(0, 0, 0, 0.8);
    border-color: rgba(200, 50, 45, 0.3);
    background: rgba(200, 50, 45, 0.3);

}

.btn-danger:hover {
    color: rgba(0, 0, 0, 0.8);
    border-color: rgba(170, 20, 15, 0.3);
    background: rgba(170, 20, 15, 0.3);

}

.btn-danger:active,
.btn-danger:active:focus,
.btn-danger:active:hover {
    color: rgba(0, 0, 0, 0.8);
    border-color: rgba(170, 20, 15, 0.4);
    background: rgba(170, 20, 15, 0.4);

}

.btn-default:active:focus,
.btn-default:active,
.btn-default:active:hover {
    background: rgba(0, 0, 0, 0.08);
}

.btn:disabled:hover,
.btn:disabled,
.btn-success:disabled:hover,
.btn-success:disabled,
.btn[disabled]:hover,
.btn[disabled],
.btn-success[disabled]:hover,
.btn-success[disabled],
.disabled{
    opacity: 0.4;
    border-color: transparent;
    color: rgba(0, 0, 0, 0.6);
}

.control-label {
    color: #000;
}

.form-control {
    color: rgba(0, 0, 0, 0.7);
    border: 0 solid transparent;
}
.form-control:focus {
    border-color: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.14),0 0 8px rgba(0, 0, 0, 0.2);
}
.form-control::-webkit-input-placeholder {
    font-family: "PT Sans", sans-serif;
    color: rgba(0, 0, 0, 0.4);
}
.form-control:-moz-placeholder {
    font-family: "PT Sans", sans-serif;
    color: rgba(0, 0, 0, 0.4);
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td span.active,
.bootstrap-datetimepicker-widget table td.active:hover,
.bootstrap-datetimepicker-widget table td span.active:hover,
.bootstrap-datetimepicker-widget table td.day.active:hover,
.bootstrap-datetimepicker-widget table td.hour.active:hover,
.bootstrap-datetimepicker-widget table td.minute.active:hover,
.bootstrap-datetimepicker-widget table td.second.active:hover {
    background: rgba(0, 0, 0, 0.3);
}
.bootstrap-datetimepicker-widget table td.day:hover,
.bootstrap-datetimepicker-widget table td.hour:hover,
.bootstrap-datetimepicker-widget table td.minute:hover,
.bootstrap-datetimepicker-widget table td.second:hover,
.bootstrap-datetimepicker-widget table thead tr:first-child th:hover,
.bootstrap-datetimepicker-widget table td span:hover,
.btn-default:hover{
    background: rgba(0, 0, 0, 0.05);
}

.bootstrap-datetimepicker-widget.dropdown-menu.top:after,
.bootstrap-datetimepicker-widget.dropdown-menu.top:before,
.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after,
.bootstrap-datetimepicker-widget.dropdown-menu.bottom:before {
    display: none;
}

.modal-content, .bootstrap-datetimepicker-widget {
    background: url("/public/default_images/forest.jpg") 25% 1%;
    opacity: 0.97;
}

#vk-link,
#vk-link:focus,
#vk-link:hover {
    color: inherit;
    text-decoration: underline;
}

/**************/

#avatar {
    max-height: 300px;
    max-width: 200px;
}

.form-group {
    max-height: 300px;
    margin-bottom: 10px;
}

#preview {
    display: none;
}

#alert-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

#alert {
    display: inline-block;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 3px 10px;
}
#form-avatar {
    display: none;
}
